
<app-navigation title='Gallery'></app-navigation> 
<table class="gallery">
        <h1>My Photo Gallery</h1><hr>
        <br>
    <tr>
        <td>
            <h2 style="text-align: center;">Be happy</h2>
            <pre style="text-align: center;">Always</pre>
            <img src="https://scontent.fmnl4-1.fna.fbcdn.net/v/t1.6435-9/120890628_3243790945674817_7750126014100698035_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=174925&_nc_eui2=AeGQyYc30Cr1aQQY3CCM7U1j5aKtqWXH-9zloq2pZcf73BvHCzH3hJuuwIf7g-ltMqC80ZFgj6CjpADSW3fPPfbq&_nc_ohc=iLXGbghDzKcAX8Cxrj2&_nc_ht=scontent.fmnl4-1.fna&oh=9cf1ad5343fd5808296923e34e392aae&oe=61A0CC85" alt="image1" width="200" height="200">
        </td>
            
        <td>
            <h2 style="text-align: center;">Travel</h2>
            <pre style="text-align: center;">Happy</pre>
            <img src="https://scontent.fmnl4-4.fna.fbcdn.net/v/t1.6435-9/163156679_3686179684769272_4231692968964567211_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_eui2=AeGwZnfYUiis7WTmUhVp2kAmaXhC9P9hOhVpeEL0_2E6FUKdlfNfiQgjeTBY9mOgmjaw21gnbfzqp-PhEDUQf0RG&_nc_ohc=O7NTYn1pf5AAX_gP84J&_nc_ht=scontent.fmnl4-4.fna&oh=75a462c486f3114699a16b4456c6eccc&oe=61A13E79" alt="image2" width="200" height="200" >
        </td>
        <td>
            <h2 style="text-align: center;">Flex</h2>
            <pre style="text-align: center;">Yourself</pre>
            <img src="https://scontent.fmnl4-1.fna.fbcdn.net/v/t1.6435-9/65539397_664082284057173_4891746400414466048_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=174925&_nc_eui2=AeGVT_i1TG3JESPjqAEtRQDtTP22W0V6b1lM_bZbRXpvWfD9iUylNF_WfH_AINmtz2j7c2s-SDwvvGfkpzzeVcLj&_nc_ohc=p2y_krh0_tsAX8E-8nZ&_nc_ht=scontent.fmnl4-1.fna&oh=6d9c20332cb0705e26b62baf365d2e57&oe=61A2A8AC" alt="image3" width="200" height="200">
        </td>
    </tr>
</table>

