.bottom{
    font-size: 20px;
    margin-left: 100px;
}
.Contact{
	width: 700px;
	height: 300px;
	margin-top: 50px;
    margin-left: 300px;
	text-align: center;
    background-color: rgba(241, 197, 197, 0.705);
    padding-bottom: 10px;
    padding-top: 10px;
}

.Contact .fa{
	font-size: 50px;
	padding: 10px;
    color: black;

}