<app-navigation title='Profile'></app-navigation>
<div class='profile-container'>
<div class='content-container'>
    <mat-card class="example-card">
    <mat-card-header>
        <img mat-card-avatar src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.6435-1/s200x200/181260503_3950364001684171_6540486953387383615_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=7206a8&_nc_eui2=AeEtfjPB-5csNd_wr9wPMBZ8XenuSGs9NP1d6e5Iaz00_c9tdvtyqUeSPy-iabJYGEOtmfNA7pQqhQrX5LgC2n7b&_nc_ohc=GgLEOFWlDJUAX9Gv5n3&_nc_ht=scontent.fmnl4-3.fna&oh=b02fcfda225b0c00ddca604ca8a56b41&oe=61A0C529" alt="Avatar" title="Avatar">
        <mat-card-title>Lobrigo, Brian</mat-card-title>
        <mat-card-subtitle>BSIT-3D</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <img src="https://scontent.fmnl4-4.fna.fbcdn.net/v/t1.6435-9/163156679_3686179684769272_4231692968964567211_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_eui2=AeGwZnfYUiis7WTmUhVp2kAmaXhC9P9hOhVpeEL0_2E6FUKdlfNfiQgjeTBY9mOgmjaw21gnbfzqp-PhEDUQf0RG&_nc_ohc=O7NTYn1pf5AAX_gP84J&_nc_ht=scontent.fmnl4-4.fna&oh=75a462c486f3114699a16b4456c6eccc&oe=61A13E79" alt="Brian" title="Brian" height="300">
        <mat-list>
        <mat-list-item>
            <mat-icon>school</mat-icon>
            <p>Name: Eastern Visayas State University</p>
        </mat-list-item>

        <mat-list-item>
            <mat-icon>info</mat-icon>
            <p>Course & Section: BSIT - 3D</p>
        </mat-list-item>

        <mat-list-item>
            <mat-icon>male</mat-icon>
            <p>Gender: Male</p>
        </mat-list-item>

        <mat-list-item>
            <mat-icon>sports_basketball</mat-icon>
            <p>Sport: Basketball</p>
        </mat-list-item>

        <mat-list-item>
            <mat-icon>location_on</mat-icon>
            <p>Address: Brgy 42-A Tacloban city</p>
        </mat-list-item>

        <mat-list-item>
            <mat-icon>phone_contact</mat-icon>
            <p>Contact #: 09364128307</p>
        </mat-list-item>
        </mat-list>
    </mat-card-content>
    </mat-card>
</div>
</div>