<app-navigation title='Home'></app-navigation>

<div class='home-container'>
  <div class='content-container'>
    <img src="https://media4.giphy.com/media/L1R1tvI9svkIWwpVYr/giphy.gif?cid=ecf05e47ql05ia8w5bcwg10rnqwnj5er7b1tufew0zxp6or0&rid=giphy.gif&ct=g" alt="Coding" width="500px">
    <div class='text-container'>
      <h1>Home info</h1>
      <p style="color: primary;">
          Hi there, i'm Lobrigo, Brian a Bachelor of Science in Infortmation Technology at Easter Visayas state University
      </p>
    </div>
  </div>
</div>